version: "3.9"

services:
  nfl:
    build:
      context: .
      dockerfile: Dockerfile
    image: nfl-ml:py312-cu124
    gpus: all
    ipc: host

    # Mount the host repo into /app
    volumes:
      - ${workspaceFolder:-.}:/app
      - ~/.cache/uv:/root/.cache/uv

    working_dir: /app

    # Load container env values
    env_file:
      - .env.docker